@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@theme {
  --font-outfit: "Outfit", sans-serif;
  --color-primary: #5F6FFF;
  --grid-template-columns-auto: repeat(auto-fill, minmax(200px, 1fr));
}

@layer base {
  * {
    font-family: var(--font-outfit);
  }
}

* {
  font-family: Outfit;
}

::-webkit-scrollbar{
    display: none;
}